.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    color: black;
    font-size: larger;
    margin: 2px;
}
a:hover{
    color: greenyellow;
}