main{
    padding-bottom: 50px;
    margin-top: 50px;
}
main article{    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main article .text{
    width: 50%;
    
}
main article .text h2{
    font-size: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
main article .text p{
    padding-top: 20px;
}
main article .text h2 span{
    color: #7DCE13;
    font-size: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
main article .foto img{
    width: 320px;
}
.button{
    background-color: #7DCE13;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    box-shadow: 2px 2px 5px grey;
    background-color: #6fb611;
}